html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

body {
    line-height: 1;
    background-color: rgb(240, 240, 240);
}

#popup {
    position: fixed;
    width: 800px;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%);
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
}

#modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#close {
    color: #aaaaaa;
    top: 20px;
    right: 25px;
    font-size: 40px;
    font-weight: bold;
    position: fixed;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

ul {
    list-style-type: circle;
}

li {
    margin: 4px 0px;
    line-height: 1.2;
}

#instructionsText {
    padding-top: 25px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.instructionsHeader {
    font-size: 170%;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

.instructionsBody {
    font-size: 18px;
    width: 92%;
    margin-right: auto;
    margin-left: auto;
}

#credits {
    margin-top: 50px;
    margin-bottom: 40px;
}

#credits ul {
    list-style-type: none;
}

#container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#headingText {
    font-size: 250%;
    font-weight: bold;
    padding: 20px 5px 15px 20px;
    display: inline-block;
}

#helpLink {
    display: inline-block;
}

#helpLink:hover {
    cursor: pointer;
}

a {
    margin-left: 2px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

#weaponGridFormDiv {
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
}

.weaponGridForm {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#weaponGrid1, #weaponGrid2, #weaponGrid1Results {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.tableHeading {
    font-size: 150%;
    font-weight: bold;
    margin: 15px 20px 10px 20px;
    display: inline-block;
    width: 100%;
}

.tableHeadingText {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.gridName {
    display: inline-block;
    width: 175px;
    margin-left: 0px;
}

.clearGrid {
    color: #aaaaaa;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.clearGrid:hover,
.clearGrid:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.atkValue {
    margin: 5px 0px 10px 20px;
    display: inline-block;
}

.pdefDiv {
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    display: inline-block;
}

.mdefDiv {
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    display: inline-block;
}

.label {
    vertical-align: middle;
}

.pdefInput, .mdefInput {
    width: 117px;
}

.weaponGridTable {
    margin-left: 18px;
    width: 100%;
}

tr {
    height: 29px;
}

tr:nth-child(1) {
    height: 18px;
}

#weaponGridResultsTable tr:nth-child(even) {
    background-color: rgb(232,232,232);
}

#weaponGridResultsTable tr:nth-child(22) {
    background-color: inherit;
}

th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0px;
}

td {
    text-align: center;
}

.weaponType, .weaponModifier, .weaponSupSkill, .job, .weaponSkillLevel, .supportSkillLevel, .weaponName, .weaponTargets {
    width: 100%;
    box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

input, select {
    font-family: inherit;
    background-color: rgb(232,232,232);
    border: 0;
    margin: 2px;
    font-size: 14px;
    border-radius: 2px;
    padding: 2px;
    text-align: left;
}

.resultWeaponName, .resultHeal, .resultHealRS,
.resultHealAoE, .resultHealTotal, .resultPercentTotal {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0px;
}

.dcCheck:checked { 
    filter: grayscale(100%) brightness(1.9);
}

#weaponGrid2 {
    display: none;
}

.btntdleft {
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0px;
}

.btntdright {
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0px;
}

.btnDiv {
    margin-bottom: 0px;
}

.btn {
    margin: 5px 20px 10px 20px;
    padding: 5px;
    cursor: pointer;
}

#copyDiv {
    display: none;
}

.copySelect {
    display: inline-block;
}

#copySelect1 {
    margin-left: 0px;
}

p {
    display: inline-block;
}

#copyBtn {
    margin-left: 5px;
    margin-right: 0px;
}

#exportSelect {
    display: none;
    margin-left: 0px;
}

#exportBtn {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
}

#importBtn {
    margin-left: 0px;
    margin-right: -5px;
}

#selectFiles {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
}

#submitBtn {
    margin-right: 5px;
    margin-left: 0px;
    vertical-align: top;
}

#closeBtn {
    margin-left: 0px;
    margin-right: 0px;
}

#calcBtn {
    margin-left: 0px;
    margin-right: 5px;
}

#openCompareBtn {
    margin-left: 0px;
    margin-right: 0px;
}

#shinmaSelectDiv {
    display: none;
}

#shinmaSelectText {
    display: inline-block;
}

#shinmaSelect {
    display: inline-block;
}

#rsSelectDiv {
    display: none;
    margin-left: 10px;
}

#rsSelectText {
    display: inline-block;
}

#rsSelect {
    display: inline-block;
}

#resultsDiv {
    margin: 10px 20px 0px 20px;
    height: 70px;
    display: table-cell;
    vertical-align: bottom;
}

#resultsTextDiv {
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 150%;
    font-weight: bold;
}

#resultsHeal {
    display: inline-block;
    line-height: 1.2;
}

#resultsText {
    display: inline-block;
    margin-left: 40px;
}